<!-- CONTACTS -->

<div class="container">
    <div class="section contacts">
        <h2 class="section__title">Контакты</h2>

        <div class="contacts__address">
            <div class="cantacts__address__wrap">
                <p><span>Адрес: </span> г. Москва, Ленина 7</p>
                <p><span>Телефон: </span> <a href="tel:+7 (495) 123-45-67">+7 (495) 123-45-67</a></p>
                <p><span>Почта: </span> <a href="mailto:info@site.com">info@site.com</a></p>
            </div>
            <div class="contacts__address__map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5ad262a877ac348c8708baf5e1deafe11fb2ca1154b7ece4b27872fd972f1409&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>

        </div>
    </div>
</div>

