<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__box footer__logo">
                <a class="footer__logo__text" href="">LOGO</a>
                <span class="footer__logo__title">социальные сети:</span>
                <div class="footer__social">
                    
                    <a class="footer__social__link" href="">
                        <svg class="footer__social__img footer__color-twitter">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>

                    <a class="footer__social__link" href="">
                        <svg class="footer__social__img footer__color-vk">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
    
                    <a class="footer__social__link" href="">
                        <svg class="footer__social__img footer__color-instagram">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__box footer__shop">
                <div class="footer__title offset">Магазин</div>
                <ul class="footer__list">
                    <a class="footer__link" href=""><li>Меню</li></a>
                    <a class="footer__link" href=""><li>Акции</li></a>
                    <a class="footer__link" href=""><li>Новинки</li></a>
                    <a class="footer__link" href=""><li>Новости</li></a>
                    <a class="footer__link" href=""><li>Контакты</li></a>
                </ul>
            </div>
            <div class="footer__box footer__service">
                <div class="footer__title offset">Сервис</div>
                <ul class="footer__list">
                    <a class="footer__link" href=""><li>Доставка</li></a>
                    <a class="footer__link" href=""><li>Купоны</li></a>
                    <a class="footer__link" href=""><li>Оплата</li></a>
                </ul>
                <a href=""><img class="footer__services__img" class="img-fluid" src="/assets/images/footer/footer__services__001.png" alt=""></a>
            </div>
            <div class="footer__box footer__support">
                <div class="footer__title">служба поддержки</div>
                <div class="footer__phone"> +7 (913) 033 72 97</div>
                <div class="footer__mode">Ежедневно с 10:00 до 20:00</div>
                <button class="footer__btn footer__btn-nocolor" type="button">Карта заведений</button>
            </div>
        </div>
        <div class="footer__copyright"> Copyright © Burov Sergey  2021  Все права защищены
        </div>
    </div>
</footer>
