<!-- Header -->

<header class="header">
    <div class="container">

        <div class="section header__inner">

            <!-- info -->

            <div class="info">
                <a class="info__phone" href="">8999 777-77-77</a>
                <span class="info__mode">ежедневно с 9 00 до 20 00</span>
            </div>

            <!-- phone -->

            <div class="phone">
                <a class="phone__link phone__link_block" href="">
                    <svg class="phone__img phone__img-blue">
                        <use xlink:href="#phone"></use>
                    </svg>
                </a>
                <a class="phone__name" href="">Заказать <br> звонок</a>
            </div>
            
            <!-- social -->

            <div class="social">

                <a class="social__link" href="">
                    <svg class="social__img  social-twitter">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>

                <a class="social__link" href="">
                    <svg class="social__img social__link__color-vk">
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>

                <a class="social__link" href="">
                    <svg class="social__img social__link__color-instagram">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a>

            </div>

            <!-- logo -->

            <div class="logo">
                <a class="logo-link" href="">
                    <svg class="logo-img">
                        <use xlink:href="#logo"></use>
                    </svg>
                    <a class="logo-name" href="">LO<span class="logo__name-rotate">G</span>O</a>
                </a>
                
            </div>

            <!-- favorites -->

            <div class="favorites">
                <div class="favorites__wrap">
                    <a class="favorites__link" href="">
                        <svg class="favorites__img">
                            <use xlink:href="#heart"></use>
                        </svg>
                    </a>
                </div>
                <div class="favorites__text">
                    <span class="favorites__name">Любимое</span>
                    <a class="favorites__number" href="">5 товаров</a>
                </div>
            </div>

            <!-- basket -->

            <div class="basket">
                <div class="basket__wrap">
                    <a class="basket__link" href="">
                        <svg class="basket__img">
                            <use xlink:href="#basket"></use>
                        </svg>
                    </a>   
                </div>
                <div class="basket__text">
                    <span class="basket__name">Корзина</span>
                    <a class="basket__price" href="">10000 руб</a>
                </div>
            </div>
            
            <!-- profile -->

            <div class="profile">
                <a class="profile__avatar" href="">
                    <img class="profile__img" src="assets/images/profile/profile__001.jpg" alt="">
                </a>
                <a class="profile__arrow__down" href="">
                    <svg class="profile__arrow__down__img">
                        <use xlink:href="#arrow-down"></use>
                    </svg>
                </a>
                <ul class="profile__menu__wrap" id="active">
                    <li><a class="profile__menu__link" href="">Корзина</a></li>
                    <li><a class="profile__menu__link" href="">Любимые</a></li>
                    <li><a class="profile__menu__link" href="">Купоны</a></li>
                    <li><a class="profile__menu__link" href="">Настройки</a></li>
                    <li><a class="profile__menu__link profile__menu__link-red" href="">выход</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>



