<nav class="section nav">
    <div class="container">
        <div class="nav__inner">

            <!-- Arrow -->

            <a class="arrow__wrap__left">
                <svg class="arrow__left__img">
                    <use xlink:href="#arrow__left"></use>
                </svg>
            </a>

            <!-- nav -->

            <div class="nav__menu">

                <div class="nav__item">
                    <a class="nav__box" href=""><img class="nav__img" src="/assets/images/nav/nav__sushi.png" alt=""></a>
                    <a class="nav__wrap" href=""><span class="nav__text">Суши</span></a>
                </div>

                <div class="nav__item">
                    <a class="nav__box" href=""><img class="nav__img menu__img-size" src="/assets/images/nav/nav__drink.png" alt=""></a>
                    <a class="nav__wrap" href=""><span class="nav__text">Напитки</span></a>
                </div>

                <div class="nav__item">
                    <a class="nav__box" href=""><img class="nav__img" src="/assets/images/nav/nav__sup.png" alt=""></a>
                    <a class="nav__wrap" href=""><span class="nav__text">Супы</span></a>
                </div>

                <div class="nav__item">
                    <a class="nav__box" href=""><img class="nav__img" src="/assets/images/nav/nav__keks.png" alt=""></a>
                    <a class="nav__wrap" href=""><span class="nav__text">Сладости</span></a>
                </div>

                <div class="nav__item">
                    <a class="nav__box" href=""><img class="nav__img" src="/assets/images/nav/nav__pizza.png" alt=""></a>
                    <a class="nav__wrap" href=""><span class="nav__text">Пицца</span></a>
                </div>
                
            </div>

            <!-- Arrow -->

            <a class="arrow__wrap__right">
                <svg class="arrow__right__img">
                    <use xlink:href="#arrow__right"></use>
                </svg>
            </a>

        </div>
    </div>
</nav>