<div class="container">
    <div class="section stocks">
        <h2 class="section__title">Интересные <a class="section__title__link" href="#">новости</a></h2>
    </div>

    <div class="section news">
        <div class="news__wrap">
            <div class="news__photo">
                <a class="news__photo__front" href=""><img class="news__photo__img" src="/assets/images/news/news__001.webp" alt=""></a>
                <a class="news__photo__back" href="">
                    <h2 class="news__photo__back__title">Овсянка и варенья</h2>
                    <p class="news__photo__back__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rerum, cupiditate itaque rem placeat, iusto odio atque laudantium repellendus eveniet nihil id ipsum pariatur eos laboriosam dolorum vel. In, quasi!</p>
                </a>
            </div>
            <div class="news__content">
                <a class="news__content__title">Овсянка и варенья</a>
                <span class="news__data">12 октября 2020</span>
                <div class="news__content__text"><p>Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.</p> <p>Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики.</p> 
                </div>
                <div class="news__btn">
                    <a class="btn btn-orange">Читать</a>
                </div>
            </div>
        </div><!-- /.news__item -->

        <div class="news__wrap">
            <div class="news__content">
                <a class="news__content__title">Готовим пасту правильно</a>
                <span class="news__data">12 октября 2020</span>
                <div class="news__content__text"><p>Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.</p> <p>Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики.</p> 
                </div>
                <div class="news__btn">
                    <a class="btn btn-orange">Читать</a>
                </div>
            </div><!-- /.news__content -->

            <div class="news__photo">
                <a class="news__photo__front" href=""><img class="news__photo__img" src="/assets/images/news/news__002.webp" alt=""></a>
                <a class="news__photo__back" href="">
                    <h2 class="news__photo__back__title">Готовим пасту правильно</h2>
                    <p class="news__photo__back__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rerum, cupiditate itaque rem placeat, iusto odio atque laudantium repellendus eveniet nihil id ipsum pariatur eos laboriosam dolorum vel. In, quasi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rerum, cupiditate itaque rem placeat, iusto odio atque laudantium repellendus eveniet nihil id ipsum pariatur eos laboriosam dolorum vel. In, quasi!</p>
                </a>
            </div><!-- /.news__photo -->
        </div><!-- /.news__item -->
        

        <div class="news__pager">

            <!-- arrows -->

            <div class="arrows">
                <a class="arrow__wrap__left">
                    <svg class="arrow__left__img">
                        <use xlink:href="#arrow__left"></use>
                    </svg>
                </a>
                <a class="arrow__wrap__right">
                    <svg class="arrow__right__img">
                        <use xlink:href="#arrow__right"></use>
                    </svg>
                </a>
            </div>

            <!-- Pager -->

            <div class="pager" href="">
                <a class="pager__wrap pager__active" href="">1</a>
                <a class="pager__wrap" href="">2</a>
                <a class="pager__wrap" href="">3</a>
                <a class="pager__wrap" href="">4</a>
                <a class="pager__wrap" href="">...</a>
                <a class="pager__wrap pager__active" href="">15</a>
            </div>

        </div>

    </div>
</div>