
<!-- Resarve -->

<div class="container">
    <div class="reserve">
        <h2 class="section__title">Забронировать столик</h2>
        <div class="reserve__wrap">
            <div class="reserve__form">
                <input class="reserve__input" type="text" placeholder="Ваше имя">
                <input class="reserve__input" type="number" placeholder="Ваш номер телефона">
                <input class="reserve__input" type="date" placeholder="Выбирите дату">
                <input class="reserve__input" type="time" placeholder="Выбирите время">
            </div>
            <div class="reserve__info">
                <div class="reserve__text"><p>Мы всегда рады новым гостям. Надеемся что вы посетите нас в ближайшее время и не забудьте позвать ваших друзей и родствеников, место хватит на всех :)</p></div>
                <button class="big__btn btn-blue" type="button">Забронировать</button>
                <img class="reserve__img__spice" src="/assets/images/reserve/reserver__spice.png" alt="">
            </div>
            <img class="reserve__woman__img" src="/assets/images/reserve/reserve__woman.png" alt="">
        </div>
    </div>
</div>