 <!-- Reviews -->

<div class="container">
    <div class="section reviews">
        <h2 class="section__title">Отзывы <a class="section__title__link" href="#">гостей</a></h2>
    
        <div class="reviews__wrap">

            <!-- reviews__inner -->

            <div class="reviews__inner">
                <div class="reviews__profile">
                    <a class="reviews__profile__link" href=""><img class="reviews__profile__img" src="/assets/images/reviews/reviews__001.webp" alt=""></a>
                    <a class="reviews__profile__name" href="">Мигель <br> Сарумян</a>
                </div>
                <div class="reviews__profile__content">
                    <div class="reviews__profile__title">Аутичная паназия</div>
                    <div class="reviews__rate"></div>
                    <p class="reviews__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.</p>
                </div>
            </div> <!-- reviews inner -->

            <!-- reviews__inner -->

            <div class="reviews__inner">
                <div class="reviews__profile">
                    <a class="reviews__profile__link" href=""><img class="reviews__profile__img" src="/assets/images/reviews/reviews__002.webp" alt=""></a>
                    <a class="reviews__profile__name" href="">Астрид <br> Голен</a>
                </div>
                <div class="reviews__profile__content">
                    <div class="reviews__profile__title">Аутичная паназия</div>
                    <div class="reviews__rate"></div>
                    <p class="reviews__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.</p>
                </div>
            </div> <!-- reviews inner -->
        </div>

        <div class="reviews__footer">
            <div class="arrows">
                <a class="arrow__wrap__left">
                    <svg class="arrow__left__img">
                        <use xlink:href="#arrow__left"></use>
                    </svg>
                </a>
                <a class="arrow__wrap__right">
                    <svg class="arrow__right__img">
                        <use xlink:href="#arrow__right"></use>
                    </svg>
                </a>
            </div>

            <div class="reviews__btn">
                <a class="btn btn-orange">Оставить отзыв</a>
            </div>
        </div>
    </div>
</div>