<div class="container">
    <div class="section stocks">
        <h2 class="section__title">Лучшие <a class="section__title__link" href="#">акции</a></h2>
    </div>

    <div class="card__inner">
        <div class="card__item">
            <div class="card__label"">Акция</div>
            <a class="card__link" href=""><img class="card__img" src="/assets/images/stocks/stocks__pizza001.jpg" alt=""></a>
            <div class="card__content">
                <a class="card__heart" href="">
                    <svg class="card__heart__img">
                        <use xlink:href="#heart__close"></use>
                    </svg>
                </a>
                <a class="card__name" href="">Пицца фаршированный</a>
                <span class="card__calories">2300 калл</span>
            </div>
            <div class="card__cell">
                <a class="card__cell__old__price" href="">200</a>
                <a class="card__cell__price" href="">300 руб.</a>
                <a class="card__cell__basket" href="">
                    <svg class="card__basket__img">
                        <use xlink:href="#basket"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="card__item">
            <div class="card__label"">Акция</div>
            <a class="card__link" href=""><img class="card__img" src="/assets/images/stocks/stocks__001.jpg" alt=""></a>
            <div class="card__content">
                <a class="card__heart" href="">
                    <svg class="card__heart__img">
                        <use xlink:href="#heart__close"></use>
                    </svg>
                </a>
                <a class="card__name" href="">Яйцо почти феберже</a>
                <span class="card__calories">620 калл</span>
            </div>
            <div class="card__cell">
                <a class="card__cell__old__price" href="">600</a>
                <a class="card__cell__price" href="">140 руб.</a>
                <a class="card__cell__basket" href="">
                    <svg class="card__basket__img">
                        <use xlink:href="#basket"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="card__item">
            <div class="card__label"">Акция</div>
            <a class="card__link" href=""><img class="card__img" src="/assets/images/stocks/stocks__002.jpg" alt=""></a>
            <div class="card__content">
                <a class="card__heart" href="">
                    <svg class="card__heart__img">
                        <use xlink:href="#heart__close"></use>
                    </svg>
                </a>
                <a class="card__name" href="">Овощи фрукты мясо и все в одной тарелке</a>
                <span class="card__calories">400 калл</span>
            </div>
            <div class="card__cell">
                <a class="card__cell__old__price" href="">600</a>
                <a class="card__cell__price" href="">450 руб.</a>
                <a class="card__cell__basket" href="">
                    <svg class="card__basket__img">
                        <use xlink:href="#basket"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="card__item">
            <div class="card__label"">Акция</div>
            <a class="card__link" href=""><img class="card__img" src="/assets/images/stocks/stocks__003.jpg" alt=""></a>
            <div class="card__content">
                <a class="card__heart" href="">
                    <svg class="card__heart__img">
                        <use xlink:href="#heart__close"></use>
                    </svg>
                </a>
                <a class="card__name" href="">Спагети с креветками</a>
                <span class="card__calories">320 калл</span>
            </div>
            <div class="card__cell">
                <a class="card__cell__old__price" href="">520</a>
                <a class="card__cell__price" href="">500 руб.</a>
                <a class="card__cell__basket" href="">
                    <svg class="card__basket__img">
                        <use xlink:href="#basket"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="card__item">
            <div class="card__label"">Акция</div>
            <a class="card__link" href=""><img class="card__img" src="/assets/images/stocks/stocks__004.jpg" alt=""></a>
            <div class="card__content">
                <a class="card__heart" href="">
                    <svg class="card__heart__img">
                        <use xlink:href="#heart__close"></use>
                    </svg>
                </a>
                <a class="card__name" href="">Суп "Что то непонятно с луком"</a>
                <span class="card__calories">200 калл</span>
            </div>
            <div class="card__cell">
                <a class="card__cell__old__price" href="">300</a>
                <a class="card__cell__price" href="">230 руб.</a>
                <a class="card__cell__basket" href="">
                    <svg class="card__basket__img">
                        <use xlink:href="#basket"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div><!-- card__inner -->

    <!-- arrows -->

    <div class="arrows">
        <a class="arrow__wrap">
            <svg class="arrow__left__img">
                <use xlink:href="#arrow__left"></use>
            </svg>
        </a>
        <a class="arrow__wrap">
            <svg class="arrow__right__img">
                <use xlink:href="#arrow__right"></use>
            </svg>
        </a>
    </div>

    <!-- New  best-->

    <div class="section stocks">
        <h2 class="section__title">Популярные <a class="section__title__link" href="#">новинки</a></h2>
    </div>

    <div class="card__inner">
        <div class="card__item">
            <a class="card__link" href=""><img class="card__img" src="/assets/images/stocks/stocks__005.jpg" alt=""></a>
            <div class="card__content">
                <a class="card__heart" href="">
                    <svg class="card__heart__img">
                        <use xlink:href="#heart__close"></use>
                    </svg>
                </a>
                <a class="card__name" href="">Капульки из ветчины и сыра</a>
                <span class="card__calories">2300 калл</span>
            </div>
            <div class="card__cell">
                <a class="card__cell__price" href="">210 руб.</a>
                <a class="card__cell__basket" href="">
                    <svg class="card__basket__img">
                        <use xlink:href="#basket"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="card__item">
            <a class="card__link" href=""><img class="card__img" src="/assets/images/stocks/stocks__006.jpg" alt=""></a>
            <div class="card__content">
                <a class="card__heart" href="">
                    <svg class="card__heart__img">
                        <use xlink:href="#heart__close"></use>
                    </svg>
                </a>
                <a class="card__name" href="">Сырная тарелка</a>
                <span class="card__calories">2300 калл</span>
            </div>
            <div class="card__cell">
                <a class="card__cell__price" href="">320 руб.</a>
                <a class="card__cell__basket" href="">
                    <svg class="card__basket__img">
                        <use xlink:href="#basket"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="card__item">
            <a class="card__link" href=""><img class="card__img" src="/assets/images/stocks/stocks__007.jpg" alt=""></a>
            <div class="card__content">
                <a class="card__heart" href="">
                    <svg class="card__heart__img">
                        <use xlink:href="#heart__close"></use>
                    </svg>
                </a>
                <a class="card__name" href="">Пончики "рости пятая точка"</a>
                <span class="card__calories">2300 калл</span>
            </div>
            <div class="card__cell">
                <a class="card__cell__price" href="">145 руб.</a>
                <a class="card__cell__basket" href="">
                    <svg class="card__basket__img">
                        <use xlink:href="#basket"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="card__item">
            <div class="card__label"">Акция</div>
            <a class="card__link" href=""><img class="card__img" src="/assets/images/stocks/stocks__008.jpg" alt=""></a>
            <div class="card__content">
                <a class="card__heart" href="">
                    <svg class="card__heart__img">
                        <use xlink:href="#heart__close"></use>
                    </svg>
                </a>
                <a class="card__name" href="">Говядина с гарниром из запеченных овощей</a>
                <span class="card__calories">2300 калл</span>
            </div>
            <div class="card__cell">
                <a class="card__cell__old__price" href="">450</a>
                <a class="card__cell__price" href="">200 руб.</a>
                <a class="card__cell__basket" href="">
                    <svg class="card__basket__img">
                        <use xlink:href="#basket"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="card__item">
            <a class="card__link" href=""><img class="card__img" src="/assets/images/stocks/stocks__009.jpg" alt=""></a>
            <div class="card__content">
                <a class="card__heart" href="">
                    <svg class="card__heart__img">
                        <use xlink:href="#heart__close"></use>
                    </svg>
                </a>
                <a class="card__name" href="">Жаренный рис с шашлыком</a>
                <span class="card__calories">2300 калл</span>
            </div>
            <div class="card__cell">
                <a class="card__cell__price" href="">130 руб.</a>
                <a class="card__cell__basket" href="">
                    <svg class="card__basket__img">
                        <use xlink:href="#basket"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div><!-- card__inner -->

    <!-- arrows -->

    <div class="arrows">
        <a class="arrow__wrap">
            <svg class="arrow__left__img">
                <use xlink:href="#arrow__left"></use>
            </svg>
        </a>
        <a class="arrow__wrap">
            <svg class="arrow__right__img">
                <use xlink:href="#arrow__right"></use>
            </svg>
        </a>
    </div>

</div>

