/*********** INTRO **********/

.intro__inner {
    padding: 200px 0 50px;
    display: flex;
}

.intro__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.intro__text__box {
    padding-right: 100px;
    display: flex;
}

.intro__tittle {
    color: $black;
    font-size: $sizexxl;
    text-transform: uppercase;
    font-weight: 800;

    span {
        color: $blue;
    }
}

.intro__subtitle {
    margin: 50px 150px 50px 0;

    color: $black;
    font-size: $sizel;
    font-weight: 400;
}



.intro__tomato {
    position: absolute;
    top: 40px;
    left: 80px;
    z-index: -1;
}

.intro__img__punch {
    position: absolute;
    bottom: 0;
    left: -60px;
    z-index: 0;
}