/*********** NAVIGATION **********/

.nav {
    height: 80px;
    margin: 50px 0 ;
}

.nav__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    padding-bottom: 10px;
    overflow: hidden;
    display: flex;
}

// .nav__menu::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 70px;
//     z-index: 4;
//     width: 250px;
//     height: 100%;
//     background: linear-gradient(270.2deg, #FFFCFC 0.13%, rgba(255, 247, 247, 0) 99.8%);
// }

.nav__item {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav__item + .nav__item {
    margin-left: 40px;
}

.nav__box {
    position: relative;
    display: block;
    width: 220px;
    height: 70px;

    overflow: hidden;
    transition: $transition;
}

.nav__img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: $transitionfast;
}

.nav__img:hover {
    // transform: rotate(20deg);
    transform: translate(5px, -10px) rotate(10deg);
}

.nav__wrap {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
    // overflow: hidden;

    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    color: $black;

    width: 210px;
    height: 40px;

    border-radius: $radiusall;
    border: $border;
    box-shadow: 2px 2px 5px rgba(194, 190, 190, 0.5);
    transition: $transitionfast;
}

.nav__img-size {
    top: 10px;
}

.nav__item:hover .nav__img {
    transform: translate(5px, -10px) rotate(10deg);
}

.nav__item:hover .nav__wrap {
    color: $blue;
}

.nav__item:active .nav__wrap {
    box-shadow:none;
}

.nav__text {
    display: inline-block;
    padding: 8px 20px;
}

.nav__item:active .nav__text {
    transform: translateY(1px);
}
