/*********** Stocks **********/

.stocks {
    margin: 50px 0 ;
}

.section__title {
    font-size: $sizexl;
    text-transform: uppercase;
    font-weight: 800;
    color: $black;
}

.section__title__link {
    color: $red;
    border-bottom: 2px dashed;
    text-decoration: none;
}

.section__title__link:hover {
    color: $blue;
}

.card__inner {
    position: relative;
    overflow: hidden;
    display: flex;  
}

.card__box {
    display: flex;

    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
        width: 130px;
        height: 100%;
        background: linear-gradient(270.2deg, #FFFCFC 0.93%, rgba(255, 247, 247, 0) 99.8%);
    }
}

.card__item {
    padding: 0 10px 0;
    width: 236px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
    border-radius: $radius;
    box-shadow: 0px 0px 15px #E3E3E3;
}

.card__item + .card__item {
    margin-left: 20px;
}

.card__label {
    padding: 10px;
    width: 75px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    color: $white;
    text-align: center;

    background-color: $red;

    border-radius: 10px 0 10px 0;
    transition: all .2 linear;
}


.card__link {
    display: inline-block;
    width: 250px;
    height: 250px;
    position: relative;
    top: -40px;
    left: -30px;
    transform: matrix(0.98, 0.23, -0.18, 0.97, 0, 0);
    border-radius: $radius;

    overflow: hidden;

    transition: all .2 linear;
}

.card__img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    transition: all .3s linear;

    border-radius: 20px;

    &:hover {
        width: 130%;
    }
}

.card__heart {
    margin-bottom: 20px;
    position: relative;
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: $transitionfast;
}

.card__heart__img {
    height: 20px;
    object-fit: cover;
    fill: $red;
}

.card__content {
    position: relative;
    top: -40px;
}

.card__heart:hover {
    transform: scale(1.2);
}

.card__name {
    color: $black;
    font-size: $sizel;
    text-decoration: none;
    font-weight: 700;
    height: 50px; // Указываем допустимую высоту блока для вывода текста
    overflow: hidden; // Все лишнее обрезаем
    text-overflow: ellipsis; // Обрезаем текст и к конце строки добавляем многоточие
    display: -webkit-box; // Аналог свойства display: flex; только он поддерживается всеми Safari, начиная с версии 5.0+.
    -webkit-line-clamp: 2; // Количество строк вывода текста, в данном случае в конце второй строки будет многоточие
    -webkit-box-orient: vertical; // отображаем текст сверху вниз вертикально
}

.card__name:hover {
    color: $blue;
}

.card__calories {
    margin-top: 15px;
    display: inline-block;
    padding: 5px;
    width: 70px;
    height: 25px;
    
    text-align: center;
    font-size: $size;

    background-color: $gray;
}

.card__cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -30px;
}

.card__cell__old__price {
    color: $red;
    text-decoration: line-through;
    font-size: $sizexl;
    font-weight: 700;
}

.card__cell__price {
    color: $black;
    text-decoration: none;
    font-size: $sizexl;
    font-weight: 700;
}

.card__cell__price:hover {
    color: $blue;
}

.card__cell__basket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

    border-radius: 50%;
    box-shadow: $box-shadow;
    transition: all .1s linear;
}

.card__cell__basket:active {
    transform: translate(1px);
    box-shadow: 0px 0px 2px #CACACA;
}

.card__basket__img {
    height: 20px;
    fill: $red;
}

.card__cell__basket:hover .card__basket__img { 
    fill: $blue;
}

.card__cell__basket:active {
    transform: translate(1px);
    box-shadow: 0px 0px 2px #CACACA;
}

.arrows{
    display: flex;
}

.arrow__wrap + .arrow__wrap {
    margin-left: 20px;
}


