
/*********** color **********/

$white: #fff;
$black: #000;
$blue: #000DFF;
$bluelight: #9EB8FF;
$orangelight: #FEECAA;
$red: #FF0000;
$gray: #F1F1F1;
$graydark: #808080;
$orange: #FFC600;

$vk: #4D75A3;
$twitter: #00ACED;
$instagram: #FA6247;

/*********** text **********/

$size: 11px;
$sizes: 14px;
$sizem: 16px;
$sizel: 18px;
$sizexl: 24px;
$sizexxl: 48px;

/*********** other **********/

$radiusall: 50px;
$radius: .8vh;
$box-shadow: 0px 3px 7px 1px #CACACA;
$border: 1px solid $gray;
$transition: all .5s linear;
$transitionfast: all .2s linear;



